<!--<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{'signup.msg1' | translate}}</h3>      
    </div>
  </div>  
  <form [formGroup]="myForm">
      <div class="form-row">
        <div class="form-group col-md-6" 
              [ngClass]="{
                'has-success': myForm.controls.firstName.valid,
                'has-danger': myForm.controls.firstName.invalid
        }">
          <label for="firstName">{{'user.firstName' | translate}}</label>
          <input type="text" class="form-control" id="firstName" placeholder="{{'user.firstName' | translate}}" required
              name="firstName" formControlName="firstName" >
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">{{'user.lastName' | translate}}</label>
          <input type="text" class="form-control" id="lastName" placeholder="{{'user.lastName' | translate}}" required
              name="lastName" formControlName="lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="email">{{'user.email' | translate}}</label>
          <input type="email" class="form-control" id="email" placeholder="{{'user.email' | translate}}" required
            name="email" formControlName="email">
        </div>
        <div class="form-group has-success col-md-4">
          <label for="password">{{'user.password' | translate}}</label>
          <input type="password" class="form-control" id="password" placeholder="{{'user.password' | translate}}" 
            required name="password" formControlName="password">
        </div>
        <div class="form-group col-md-4">
          <label for="password2">{{'user.password2' | translate}}</label>
          <input type="password" class="form-control" id="password2" placeholder="{{'user.password2' | translate}}" 
            required name="password2" formControlName="password2">
        </div>
      </div>           
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="organization">{{'signup.organization' | translate}}</label>
          <input type="text" class="form-control" id="organization" placeholder="{{'signup.organization' | translate}}" 
            required name="organization" formControlName="organization">
        </div>
      </div>      
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="accept" name="accept" formControlName="accept">
          <label class="form-check-label" for="accept">
            {{'signup.terms' | translate}}
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{'user.signup' | translate}}</button>
    </form> 
    {{myForm.value | json}}
</div>-->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{'signup.msg1' | translate}}</h3>      
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="onSignIn(f)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">{{'user.firstName' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" required name="firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
            {{'error.required' | translate}}
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">{{'user.lastName' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" required name="lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
            {{'error.required' | translate}}
        </div>
      </div>
    </div> 
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="email">{{'user.email' | translate}}</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" 
          required name="email" pattern="[^ @]*@[^ @]*" #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            {{'error.email' | translate}}
        </div>   
      </div>
      <div class="form-group col-md-4">
        <label for="password" [ngStyle]="{'color': passColor }">{{'user.password' | translate}}</label>
        <input type="password" class="form-control" [ngStyle]="{'color': passColor }" [(ngModel)]="password" 
          required name="password" #pass="ngModel">
        <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
          {{'error.required' | translate}}
        </div>  
        <div [hidden]="passOk" class="alert alert-danger">
            {{'error.differentPass' | translate}}
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="password2">{{'user.password2' | translate}}</label>
        <input type="password" class="form-control" [(ngModel)]="password2" required name="password2" #pass2="ngModel">
        <div [hidden]="pass2.valid || pass2.pristine" class="alert alert-danger">
          {{'error.required' | translate}}
        </div> 
      </div>
    </div> 
    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="organization">{{'user.organization' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="user.organization" 
          required name="organization" #organization="ngModel">
        <div [hidden]="organization.valid || organization.pristine" class="alert alert-danger">
          {{'error.required' | translate}}
        </div>  
      </div>      
    </div> 
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="accept" name="accept" [(ngModel)]="accept">
        <label class="form-check-label" for="accept">
          {{'signup.terms' | translate}}
        </label>
        <div [hidden]="!showAccept" class="alert alert-danger">
            {{'error.accept' | translate}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{'user.signup' | translate}}</button>    
  </form>
</div>  

